<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <form action="/deleteuser/<%= userData.id %>" method="post">
        <p>Are you sure you want to delete??</p>
        <button type="submit">Delete</button>
    </form>
</body>
</html>