<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User information</h2>
    <form action="/" method="post">
        <input name="Firstname" type="text" placeholder="First Name"><br>
        <input name="Lastname" type="text" placeholder="Last Name"><br>
        <input name="email" type="email" placeholder="email"><br>
        <input name="password" type="password" placeholder="password"><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>