<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../includes/style')%>
</head>
<body>
    <div class="container">
    <h1>Books</h1>
    <form action="/bookinput" method="post">
        <input type="text" name="name" placeholder="Bookname"><br>
        <input type="text" name="author" placeholder="Author"><br>
        <input type="text" name="genre" placeholder="Genre"><br>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>