<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../includes/style')%>
</head>
<body>
    <div class="container">
    <h1>User Information</h1>
    <form action="/home" method="post">
        <input type="text" name="name" placeholder="name"><br>
        <input type="email"name="email" placeholder="email"><br>
        <input type="number" name="number" placeholder="number"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>